<div>
  <h3>{{ 'Tracks List Page' | uppercase }}</h3>
  <!-- <h3>{{ 'Tracks List Page' | lowercase }}</h3> -->
  <!-- <h3>{{ 'Tracks List Page' | titlecase }}</h3> -->

  <button class="btn btn-primary">
    Tracks Count
    <span class="badge bg-danger">{{ trackService.TracksCount }}</span>
  </button>
</div>

<!-- <div>
  {{ currentDate | date }}
</div> -->

<!-- <div>
  {{ currentDate | date: 'short' }}
</div>

<div>
  {{ currentDate | date: 'medium' }}
</div>

<div>
  {{ currentDate | date: 'long' }}
</div>

<div>
  {{ currentDate | date: 'full' }}
</div>

<div>
  {{ currentDate | date: 'MMMM d, y' }}
</div> -->

<!-- <div>
  {{ TotalPrice | currency }}
</div>

<div>
  {{ TotalPrice | currency: 'EGP' }}
</div> -->

<hr />

<!-- data binding -->
<div>
  <input
    type="text"
    class="form-control mt-3"
    placeholder="Enter new track name..."
    [(ngModel)]="newTrackName"
  />
</div>
<button class="btn btn-primary my-3" (click)="AddTrack()">Add Track</button>

<!-- Template Reference : direct access -->
<!-- <div>
  <input #trackInput type="text" class="form-control mt-3" placeholder="Enter new track name..." />
</div>
<button class="btn btn-primary my-3" (click)="AddTrackRef(trackInput.value)">Add Track</button> -->

<!-- for loop -->

<div class="row g-3">
  @for (trackItem of filteredTracks; track trackItem.id; let i = $index) {
    <div class="col-12 col-md-4">
      <app-track-card [item]="trackItem" (deleted)="removeTrack($event)"></app-track-card>
    </div>
  } @empty {
    <p class="fs-3 text-center text-danger">No Tracks Found.</p>
  }
</div>
