<div>
  <h3>{{ 'Tracks List Page' | uppercase }}</h3>
  <!-- <h3>{{ 'Tracks List Page' | lowercase }}</h3> -->
  <!-- <h3>{{ 'Tracks List Page' | titlecase }}</h3> -->
</div>

<!-- <div>
  {{ currentDate | date }}
</div> -->

<!-- <div>
  {{ currentDate | date: 'short' }}
</div>

<div>
  {{ currentDate | date: 'medium' }}
</div>

<div>
  {{ currentDate | date: 'long' }}
</div>

<div>
  {{ currentDate | date: 'full' }}
</div>

<div>
  {{ currentDate | date: 'MMMM d, y' }}
</div> -->

<!-- <div>
  {{ TotalPrice | currency }}
</div>

<div>
  {{ TotalPrice | currency: 'EGP' }}
</div> -->

<hr />

<!-- for loop -->

<div class="row g-3">
  @for (trackItem of tracks; track trackItem.id; let i = $index) {
    <div class="col-12 col-md-4">
      <app-track-card [item]="trackItem" (deleted)="removeTrack($event)"></app-track-card>
    </div>
  } @empty {
    <p class="fs-3 text-center text-danger">No Tracks Found.</p>
  }
</div>
