<h3 class="mb-4">Posts Integration with API</h3>

<form class="mb-4" [formGroup]="addPostForm" (ngSubmit)="addPost()">
  <input
    type="text"
    class="form-control mb-2"
    placeholder="Type Title..."
    formControlName="title"
  />

  <textarea
    class="form-control mb-2"
    rows="3"
    formControlName="body"
    placeholder="Type body..."
  ></textarea>

  <button class="btn btn-success" [disabled]="isSubmitting">
    @if (isSubmitting) {
      Adding...
    } @else {
      Add Post
    }
  </button>
</form>

@if (errorMessage) {
  <p class="alert alert-danger">{{ errorMessage }}</p>
}

<div class="row">
  @for (post of posts; track post.id; let i = $index) {
    <div class="col-6 col-lg-4 col-12 g-3">
      <div class="card h-100">
        <p class="fs-5 ps-3 pt-3">No. {{ i + 1 }}</p>

        <div class="card-body">
          <h4 class="card-title text-success">{{ post.title }}</h4>
          <p class="card-text">{{ post.body }}</p>
        </div>

        <div>
          <button class="btn btn-danger w-100" (click)="deletePost(post.id)">Delete</button>
        </div>
      </div>
    </div>
  }
</div>
